<%= javascript_include_tag "application" %>

<h3>LOG del Proceso de Comunicaciones</h3>
<div id="process-list" style="background-color: #eee;">

</div>

<script>

  $(document).ready(function(){
    setInterval(show_log,3000);
 });

  function show_log(){
    $("#process-list").load("/comunicacion/log");
  }

</script>
